button.button.button--colored.header__button-new(onclick='toAddArticle()') Новая запись
.header__dropdown
  a.button.button--burger.header__burger(href='#') Открыть меню
  ul.navigation.header__navigation
    li.navigation__item
      a(href='/') Главная страница
    li.navigation__item
      a(href='/my') Мои записи
    li.navigation__item
      a(href='/categories') Категории
    li.navigation__item
      a(href='/my/comments') Комментарии
    li.navigation__item
      a(href='/register') Регистрация
    li.navigation__item
      a(href='/search') Поиск
    li.navigation__item
      a(href='/articles/add') Новая публикация
    li.navigation__item
      a(href='/logout') Выйти
