h2.visually-hidden Список тем
ul.themes
  each category, index in categories
    li.themes__item
      a.themes__item-link(href='/categoty/' + index + 1)
        | #{category}
        sup  #{index + 1}
