extends ../layout

block content
  -
    const getThemeClass = (category, catId) => {
      return category.id === catId ? 'themes__item-link themes__item-link--active' : 'themes__item-link'
    };
  .wrapper
    header.header
      a.header__logo.logo(href='/')
        img(src='/img/icons/logo.svg' alt='логотип Тайпотеки')
      if isAuth && isAdmin
        include ../partials/header-admin
      else if isAuth
        include ../partials/header-user
      else
        a.header__registration(href='/register') Регистрация
        a.header__enter(href='/login') Вход с паролем
      a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
    main.articles-category
      h1 Бизнес
      section.articles-category__theme-list
        h2.visually-hidden Список тем
        ul.themes
          each category in categories
            if category.count > 0
              li.themes__item
                a(href='/articles/category/' + category.id class=getThemeClass(category, catId))
                  | #{category.name}#{` `}
                  sup #{category.count}
      section.articles-category__list.preview
        include ../partials/articles-preview
      +pagination(page, totalPages, 1)
    footer.footer
      include ../partials/footer

block scripts
  script(src='/js/main.js')
